<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin.css}">
        <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                              <legend style="font-size: 24px;color: #009688;">用户个人信息：</legend>
                            </fieldset>
							
							<div class="layui-card">
								
								<div style="display: inline-block;">
									<p><img th:src="@{/images/bg.png}" style="width:100px; height:100px; border-radius:50%; "/></p>
								</div>
								<div style="display: inline-block; margin-left: 20px;">
									<div style="font-size: 16px;">
										  <span style="font-weight: bold">[[${session.loginUser.real_name}]]</span> &emsp;
                                            <span th:if="${session.get('loginUser').get('user_level') eq 1}">学生用户</span>
                                            <span th:if="${session.get('loginUser').get('user_level') eq 3}">系统管理员</span>
									</div>
								</div>
								
								<hr>
								
								<div class="layui-collapse">
								  <div class="layui-colla-item">
								    <h2 class="layui-colla-title">详细信息</h2>
								    <div class="layui-colla-content layui-show">
										<p>姓名：</p>
										<p>姓名：</p>
										<p>姓名：</p>
										<p>姓名：</p>
										<p>姓名：</p>	
										<p>姓名：</p>
									</div>
								  </div>
								</div>
								
								<hr>
								
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>